<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{base :: head_base}"></th:block>
    <title> Actividad </title>
    <link rel="stylesheet" th:href="@{css/comments.css}">
</head>

<body>
<div th:replace="~{base :: navbar}"></div>
<div th:replace="~{base :: flash_messages}"></div>
<div>
<h1 style="text-align: center;">Datos de actividad</h1>
<table style="top: 0;">
    <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Día</th>
        <th>Hora inicio</th>
        <th>Duración</th>
        <th>Descripción</th>
        <th>Foto</th>
    </tr>
    <tr>
        <td th:text="${act.actividad().nombre}">nombre_act</td>
        <td th:text="${act.actividad().tipo}">categoria</td>
        <td th:text="${act.actividad().dia}">dia</td>
        <td th:text="${act.actividad().hora_inicio}">horai</td>
        <td th:text="${act.actividad().duracion}">duracion</td>
        <td th:text="${act.actividad().descripcion}">desc</td>
        <td><a th:href="@{${act.foto().ruta_archivo}}" target="_blank">Abrir foto</a></td>
    </tr>
</table>
</div>
<div class="comments">
<h2> Comentarios </h2>
<div class="add_comment">
    <form id="comment_form">
        <label>Añadir comentario:</label><br>
        <input type="text" id="commenter_name" name="commenter_name" placeholder="Nombre" required>
        <textarea rows="4" cols="50" class="comment_box" title="Debe tener entre 5 y 300 carácteres" id="content" name="content" required></textarea>
        <button type="submit" class="submit_comment">Publicar comentario</button>
    </form>
</div>


<div th:each="c : ${comments}" class="comment">
    <div th:text="${c.nombre}" class="commenter">nombre</div><div th:text="${c.fecha}" class="comment_date">fecha</div>
    <div th:text="${c.texto}" class="comment_text">texto</div>
</div>

</div>

<br>
<a th:if="${has_prev}" class="paginator" th:href="@{/listado(page=${curr_page - 1})}">previa</a>
<a th:if="${has_next}" class="paginator" th:href="@{/listado(page=${curr_page + 1})}">siguiente</a>

<script th:src="@{/js/comentario.js}"></script>
<script th:replace="~{base :: script_base}"></script>
</body>
</html>