<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        {% block css %}{% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <nav class="navbar">
            <a href="{{ url_for('portada') }}">Portada</a>
            <a href="{{ url_for('registro') }}">Registro</a>
            <a href="{{ url_for('listado') }}">Listado</a>
            <a href="{{ url_for('estadisticas') }}">Estadísticas</a>
        </nav>
        <main>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes" id="flashmsg">
                        {% for msg in messages %}
                            <li>{{ msg }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </main>
         {% block javascript %}{% endblock %}
    </body>
</html>