{% extends 'base.html' %}
{% block title %}Estadísticas{% endblock %}
{% block css %}
<script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}

{% block content %}
<h1>Gráficas con estadísticas</h1>
<select name="rango" id="rango">
    <option value="7">1 Semana</option>
    <option value="31" selected>1 Mes</option>
    <option value="63">3 Meses</option>
    <option value="186">6 Meses</option>
    <option value="365">1 Año</option>
</select>
<div id="linechart" style="width:100%; height:400px;"></div>

<div id="piechart" style="width:100%; height:400px;"></div>

<div id="barchart" style="width:100%; height:400px;"></div>

{% endblock %}
{% block javascript %}
<script src="static/js/estadisticas.js"></script>
{% endblock %}