{% extends 'base.html' %}
{% block title %}Listado{% endblock %}
{% block css %}{% endblock %}

{% block content %}

{% if data %}
    <table>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Nombre Actividad</th>
            <th>Día</th>
            <th>Hora inicio</th>
            <th></th>
        </tr>
        {% for act in data %}
        <tr>
            <td>{{ act.nombre_miembro }}</td>
            <td>{{ act.email }}</td>
            <td>{{ act.nombre_act }}</td>
            <td>{{ act.dia }}</td>
            <td>{{ act.horai }}</td>
            <td><a href="{{ url_for('actividad', id=act.id_miembro) }}" method="GET">Más información</a></td>
        </tr>
        {% endfor %} 
    </table>
    <br><br><br><br>
    {% if has_prev %}
        <a class="paginator" href="{{ url_for('listado', page = curr_page - 1) }}" method="GET">previa</a>
    {% endif %}
    {% if has_next %}
        <a class="paginator" href="{{ url_for('listado', page = curr_page + 1) }}" method="GET">siguiente</a>
    {% endif %}
{% else %}
    <p style="color: red;">No se encontraron actividades</p>
{% endif %}

{% endblock %}
{% block javascript %}{% endblock %}