{% extends 'base.html' %}
{% block title %} Registro {% endblock %}
{% block css %}
{% endblock %}

{% block content %}
<h1>Registro</h1>
    <form id="register_form" method="POST" enctype=multipart/form-data action="{{ url_for('registro_validacion') }}">
        <h2>Datos Personales</h2>
        <label for="nombre">Nombre:</label><br>
        <input type="text" title="Introduzca un nombre real" pattern="^[a-zA-Z]+$" id="nombre" name="nombre"><br><br>

        <label for="telefono">Teléfono de contacto:</label><br>
        +56 9 <input type="text" title="Formato no reconocido" pattern="^(\s*\d\s*){8}$" id="telefono" name="telefono" placeholder="+56 9"><br><br>

        <label for="email">Email:</label><br>
        <input type="text" title="Formato no reconocido" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" id="email" name="email"><br><br>

        <label for="comuna">Comuna:</label><br>
        <select id="comuna" name="comuna">
            <option value="">Elige tu comuna</option>
            {% for comuna in comunas %}
                <option value="{{comuna.id}}">{{comuna.nombre}}</option>
            {% endfor %}
        </select><br><br>
        
        <h2>Información de la actividad</h2>
        <label for="nombre_act">Nombre de la actividad:</label><br>
        <input type="text" title="Máximo 45 carácteres" pattern="^.{1,44}$" id="nombre_act" name="nombre_act"><br><br>

        <label for="categoria">Categoría:</label><br>
        <select id="categoria" name="categoria">
            <option value="">Elige categoría</option>
            <option value="arte">Artística</option>
            <option value="deporte">Deportiva</option>
            <option value="tecnología">Tecnológica</option>
            <option value="social">Social</option>
            <option value="recreación">Recreativa</option>
            <option value="otra">Otra</option>
        </select><br><br>

        <label for="dia">Día:</label><br>
        <select id="dia" name="dia">
            <option value="">Elige día de la semana</option>
            <option value="lunes">Lunes</option>
            <option value="martes">Martes</option>
            <option value="miércoles">Miércoles</option>
            <option value="jueves">Jueves</option>
            <option value="viernes">Viernes</option>
            <option value="sábado">Sábado</option>
            <option value="domingo">Domingo</option>
        </select><br><br>

        <label for="horai">Hora inicio:</label><br>
        <input type="time" id="horai" name="horai"><br><br>

        <label>Duración:</label><br>
        <input type="number" id="horas" name="horas" min="0" max="99" placeholder="horas">:
        <input type="number" id="minutos" name="minutos" min="0" max="59" placeholder="horas"><br><br>

        <label for="desc">Descripción (opcional):</label><br>
        <input type="text" title="Máximo 500 carácteres" pattern="^.{0,499}$" id="desc" name="desc" placeholder="descripción"><br><br>

        <label for="foto">Foto:</label><br>
        <input type="file" id="foto" name="foto"><br><br>

        <br><input type="submit" class="boton" value="Registrar">

    </form>
{% endblock %}
{% block javascript %}
<script lang="javascript" src="{{ url_for('static', filename='js/registro.js') }}"></script>
{% endblock %}